@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Edit Service Suspension";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Service Suspension</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditServiceSuspension">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Account.IsSuspended" class="control-label"></label>
                <input asp-for="Account.IsSuspended" class="form-control" />
                <span asp-validation-for="Account.IsSuspended" class="text-danger"></span>
            </div>
            @if (Model.Account.IsSuspended == true)
            {
                <div class="form-group">
                    <label asp-for="Account.StartDateSuspend" class="control-label"></label>
                    <input asp-for="Account.StartDateSuspend" class="form-control" />
                    <span asp-validation-for="Account.StartDateSuspend" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Account.EndDateSuspend" class="control-label"></label>
                    <input asp-for="Account.EndDateSuspend" class="form-control" />
                    <span asp-validation-for="Account.EndDateSuspend" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.Id">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
