@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.Address.StreetAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Address.StreetAddress)
            </td>
        </tr>
}
    </tbody>
</table>

@*<div class="form-group">
    <label asp-for="" class="control-label"></label>
    do a select drop down list of the DayOfWeek enum
    <select asp-for="Account.PickUpDay" class="form-control" asp-items="Html.GetEnumSelectList<DayOfWeek>()"></select>
    <div class="form-group">
        <input type="submit" value="IndexSelect" class="btn btn-primary" />
    </div>
</div>*@
<div>
    <a asp-action="IndexSelect">Select A Different Day To Display Pickup List</a>
</div>
